<div class="footer">
	<div class="w">
		<div class="links">
			<a href="https://www.baidu.com" target="_blank" class="link">百度</a>  |
			<a href="https://www.taobao.com" target="_blank" class="link">淘宝</a>  |
			<a href="https://www.zhihu.com" target="_blank" class="link">知乎</a>  |
			<a href="http://wwwboqii.com" target="_blank" class="link">波奇</a>
		</div>
		<p class="copyright">
			Copyright © 2018 petfamily.com All Right Reserved
		</p>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>